@model string;
<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">I could not find information on this ID :(</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="@Model" asp-action="Index">Home Page</a>
    </div>
</div>