@using Bookstore.Application.Shared.Identity;
@using Bookstore.MvcUI.ViewModels.Outgoing;
@model IEnumerable<BookForDisplay>

@{
    ViewData["Title"] = "List of books";
}
<form id="search-form">
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="bookName" class="form-control" placeholder="Search books">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                    Search
                </button>
            </div>
        </div>
    </div>
</form>
<div class="row" id="books-list">
    @await Html.PartialAsync("_BookList", Model)
</div>
<div class="text-center mt-3 d-none" id="show-all-button">
    <button class="btn btn-outline-secondary btn-sm">
        Show all books
    </button>
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole(AvailableRoles.Admin))
{
    @await Html.PartialAsync("_CreateEntity", "Book")
}

@section scripts {
    <script>
        $(function () {
            $('#search-form').submit(function (event) {
                event.preventDefault();

                var bookName = $('input[name="bookName"]').val();

                $.ajax({
                    url: '@Url.Action("Search", "Book")',
                    type: 'GET',
                    data: { bookName: bookName },
                    success: function (result) {
                        $('#books-list').html(result);
                        $('#show-all-button').removeClass('d-none');
                    }
                });
            });

            $('#show-all-button').click(function () {
                $.ajax({
                    url: '@Url.Action("ShowAllWithPartialView", "Book")',
                    type: 'GET',
                    success: function (result) {
                        $('#books-list').html(result);
                        $('#show-all-button').addClass('d-none');
                    }
                });
            });
        });
    </script>
}