@using Bookstore.MvcUI.Models.Outgoing;

@model IEnumerable<AuthorForDisplay>

@{
    ViewData["Title"] = "List of authors";
}
<form id="search-form">
    <div class="form-group">
        <div class="input-group">
            <input type="text" name="authorName" class="form-control" placeholder="Search authors">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">
                    Search
                </button>
            </div>
        </div>
    </div>
</form>
<div class="row" id="authors-list">
    @await Html.PartialAsync("_AuthorList", Model)
</div>
<div class="text-center mt-3 d-none" id="show-all-button">
    <button class="btn btn-outline-secondary btn-sm">
        Show all authors
    </button>
</div>

@await Html.PartialAsync("_CreateEntity", "Author")

@section scripts {
    <script>
        $(function () {
            $('#search-form').submit(function (event) {
                event.preventDefault();

                var authorName = $('input[name="authorName"]').val();

                $.ajax({
                    url: '@Url.Action("Search", "Author")',
                    type: 'GET',
                    data: { authorName: authorName },
                    success: function (result) {
                        $('#authors-list').html(result);
                        $('#show-all-button').removeClass('d-none');
                    }
                });
            });

            $('#show-all-button').click(function () {
                $.ajax({
                    url: '@Url.Action("ShowAllWithPartialView", "Author")',
                    type: 'GET',
                    success: function (result) {
                        $('#authors-list').html(result);
                        $('#show-all-button').addClass('d-none');
                    }
                });
            });
        });
    </script>
}